<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>Contact Us</title>
    <link rel="stylesheet" href="/static/css/contact.css">
</head>
<body>

<div class="container">
    <h1>For any Query</h1>
    <h2>Contact Us</h2>
    <td>Name:-</td>
    <p> Enter message:-</p>
    <td>email:-</td>

    <p><strong>NO.7218291107</strong></p>


    <form>
        <button class="btn">Contact Us</button>
    </form>

    <p>Go to <a href="seventh">Sign Up</a></p>
<p>Go to <a href="{% url 'index' %}">Home page</a> </p>
</div>

</body>
</html>
