<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>Amravati Cinema</title>
    <link rel="stylesheet" href="/static/css/gallery.css">
</head>
<body>

<h1>Amravati's Cinema Hall</h1>

<!-- Theatre Images -->
<div class="section-row">
    <img src="/static/image/miraj.jpg" alt="miraj">
    <img src="/static/image/chitra.jpg" alt="chitra">
    <img src="/static/image/theature.jpg" alt="theature">
</div>

<h2>Available Movie</h2>
<div class="section-row">
    <img src="/static/image/ddpd.jpg" alt="De De Pyar De">
    <img src="/static/image/stree2.jpg" alt="Stree2">
    <img src="/static/image/chava.jpg" alt="Chava">
    <img src="/static/image/race3.jpg" alt="Race3">
    <img src="/static/image/saiyara.jpg" alt="Saiyara">
</div>

<h3>Recomanded Movies</h3>
<div class="section-row">
    <img src="/static/image/alfa.jpg" alt="alfa">
    <img src="/static/image/border2.jpg" alt="border2">
    <img src="/static/image/kantara.jpg" alt="kantara">
    <img src="/static/image/mahavtar.jpg" alt="mahavtar">
    <img src="/static/image/chatrapati shivaji raje.jpg" alt="Punha Shivaji raje Bhosale Boltoy">
    <img src="/static/image/the taj story.jpg" alt="The Taj Story">
    <img src="/static/image/ssktk.jpg" alt="ssktk">
</div>

<!-- SKY BLUE PARAGRAPHS -->
<p class="nav-link">Go to <a href="third">Details page</a></p>
<p class="nav-link">Go to <a href="{% url 'index' %}">Home page</a></p>

</body>
</html>
